//gitlab.example.com/api/v4/projects/7240/packages/npm/:_authToken=3a077b9f-2c4e-4100-9b5b-a56980b7e9ec
//gitlab.example.com/api/v4/packages/npm/:_authToken=3a077b9f-2c4e-4100-9b5b-a56980b7e9ec
@artdon/ownlibrary=https://gitlab.example.com/api/v4/packages/npm/
